<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>指令-v-model</title>
</head>

<body>
   <!-- 指令(Directive) 是特殊的带有前缀 v- 的特性。指令的值限定为绑定表达式，
   指令的职责就是当其表达式的值改变时，把某些特殊的行为应用到DOM上。 -->

   <!-- v-model 指令用来在 input、 select、 text、 checkbox、 radio 等表单控件元素上创建双向数据绑定。根据控件类型 v-model 自动选取正确的方法更新元素。 -->

   <div id="example">
     <form action="">
            姓名：
            <input type="text" v-model="data.name" placeholder="">
            <br />
            性别：
            <input type="radio" id="man" value="One" v-model="data.sex">
            <label for="man">男</label>
            <input type="radio" id="male" value="Two" v-model="data.sex">
            <label for="male">女</label>
            <br />
            兴趣:
            <input type="checkbox" id="book" value="book" v-model="data.interest">
            <label for="book">阅读</label>
            <input type="checkbox" id="swim" value="swim" v-model="data.interest">
            <label for="swim">游泳</label>
            <input type="checkbox" id="game" value="game" v-model="data.interest">
            <label for="game">游戏</label>
            <input type="checkbox" id="song" value="song" v-model="data.interest">
            <label for="song">唱歌</label>
            <br />
            身份：
            <select v-model="data.identity">
                <option value="teacher" selected>教师</option>
                <option value="doctor">医生</option>
                <option value="lawyer">律师</option>
            </select>
        </form>
        <div>{{ data }}</div>
   </div>
    <script src="../vue.js"></script>
    <script>
    new Vue({
        el: '#example',
        data: {
            data: {
              name: '',
              sex: '',
              interest: [],
              identitly: ''
            }
        }
    })
    </script>
    <!-- 在切换 v-if 模块时，Vue.js 有一个局部编译/卸载过程，因为 v-if 中的模板可能包括数据绑定或子组件。 v-if 是真实的条件渲染，因为它会确保条件块在切换时合适的销毁与重建条件块内的事件监听器和子组件 -->

    <!-- v-if 是惰性的---如果初始渲染时条件为假，则什么也不做，在条件第一次变为真时才开始局部编译(编译会被缓存起来)。 -->

    <!-- 相比之下， v-show 简单得多---元素始终被编译并保留，只是简单的基于 CSS 切换。 -->

    <!-- 一般来说， v-if 有更高的切换消耗，而 v-show 有更高的初始渲染消耗。因此，如果需要频繁的切换，则使用 v-show 较好；如果在运行时条件不大可能改变，则使用 v-if 较好。 -->
</body>

</html>